.jumbotron {
	height: 500px;
  background-image: url("../images/jumbotron_image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.jumbotron_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jumbotron_div_area {
	border: 2px dotted black;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 30px;
}

section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
}

.image_one {
	background-image: url("../images/write.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
}

.image_two {
	background-image: url("../images/post.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
}

.image_three {
	background-image: url("../images/rates.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
}